


<!DOCTYPE html>
<html>
<head>
<title>Add Expense</title>
</head>
<body>
<h1>Add Expense</h1>
<form action="/save_expense" method="POST">
<label for="date">Date:</label>
<input type="date" name="date" id="date">
<br>
<label for="type">Type:</label>
<input type="text" name="type" id="type">
<br>
<label for="amount">Amount:</label>
<input type="number" name="amount" id="amount">
<br>
<label for="description">Description:</label>
<input type="text" name="description" id="description">
<br>
<input type="submit" value="Save">
</form>
</body>
</html>



